.root {
  display: grid;
  grid-gap: 30px;
}

.oneColumn {
  composes: root;
  grid-template-columns: 1fr;
}

.twoColumns {
  composes: root;
  grid-template-columns: 220px 1fr;
}

.threeColumns {
  composes: root;
  grid-template-columns: 220px 1fr 280px;
}

.results {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2px;
  align-content: flex-start;
}

.searchButton {
  padding-bottom: 16px;
}
