.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 2.125em;
  margin: 0;
  padding: 2px 5px;
  border: none;
  background: transparent;
  background-color: var(--colour-blue-800);
  font-family: 'Oxanium', sans-serif;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: -.02em;
  text-transform: uppercase;
  color: var(--colour-grey-400);
  cursor: pointer;
  outline: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.small {
  font-size: 1rem;
}

.large {
  font-size: 1.25rem;
}

.navigation {
  font-size: 1.328125rem;
  background-color: transparent;
}

.root:disabled {
  cursor: initial;
}

.root:hover {
  color: var(--colour-grey-200);
}

.icon {
  height: 1em;
  fill: var(--colour-grey-400);
}

.iconLeft {
  composes: icon;
  padding-right: .4em;
}

.iconRight {
  composes: icon;
  padding-left: .4em;
}

.root:hover .icon {
  fill: var(--colour-grey-200);
}

.text {
  font-size: .8em;
}
